{:paths ["src"]
 :deps {com.github.kyleburton/clj-xpath {:mvn/version "1.4.12"}
        hickory/hickory                 {:mvn/version "0.7.1"
                                         :exclusions [org.clojure/clojurescript]}}
 :aliases {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
                   :main-opts ["-m" "nrepl.cmdline"]}}}
